html, body {
    background var(--beige)
    color var(--black)
}

h1, p {  
  color: var(--black);  
}

#navbar a {  
  color: var(--black);  
}

.item {  
  background: var(--light brown);  
}

button {  
  background: var(--light brown);  
  color: var(--black);  
}
